{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>All Photos:</h2>
  {% if paginated_photos %}
    {% if paginated_photos.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ paginated_photos.previous_page_number }}">previous</a>
    {% endif %}

    <div class="photo-list row">
        {% for photo in paginated_photos %}
        <div class="photo-container col-xs-12 col-md-6">
          <div style="height: 360px; width: auto; position: relative; margin: 0 auto; max-height:360px;">
              <img class="img-responsive" src="//{{ request.get_host }}{{ MEDIA_URL }}{{ photo.uploaded_file }}" style="max-height:360px; display: block; width: auto;"/> 
          </div>
        </div>
        {% endfor %}
    </div>
    
    {% if paginated_photos.has_next %}
      <a href="?page={{ paginated_photos.next_page_number }}">next</a>
      <a href="?page={{ paginated_photos.paginator.num_pages }}">last &raquo;</a>
    {% endif %}      
  {% else %}
    No photos yet.
  {% endif %}  
{% endblock %}  
